<!--<configuration scan="true" scanPeriod="60 seconds">-->
<!--    <appender name="FILE-ROLLING" class="ch.qos.logback.classic.sift.SiftingAppender">-->
<!--        <discriminator>-->
<!--            <key>logFileName</key>-->
<!--            <defaultValue>ims3</defaultValue>-->
<!--        </discriminator>-->
<!--        <sift>-->
<!--            <appender name="FILE-${logFileName}" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--                <file>C:\logs\${logFileName}.log</file>-->
<!--                <encoder>-->
<!--                    <pattern>%date %level [%thread] [%file:%line] %msg%n</pattern>-->
<!--                </encoder>-->
<!--                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">-->
<!--                    <fileNamePattern>C:\logs\archive\ims3-log-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>-->
<!--                    &lt;!&ndash; each file should be at most 10MB, keep 60 days worth of history, but at most 10GB &ndash;&gt;-->
<!--                    &lt;!&ndash;                    <maxFileSize>1MB</maxFileSize>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <maxHistory>60</maxHistory>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <totalSizeCap>10GB</totalSizeCap>&ndash;&gt;-->
<!--                    <minIndex>1</minIndex>-->
<!--                </rollingPolicy>-->
<!--                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
<!--                    <maxFileSize>1MB</maxFileSize>-->
<!--                </triggeringPolicy>-->
<!--            </appender>-->
<!--        </sift>-->
<!--    </appender>-->
<!--    <logger name="com" level="info">-->
<!--        <appender-ref ref="FILE-ROLLING"/>-->
<!--    </logger>-->
<!--</configuration>-->


<configuration scan="true" scanPeriod="60 seconds">
    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:\logs\ims3.log</file>
        <encoder>
            <pattern>%date %level [%thread] [%file:%line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>C:\logs\archive\ims3-log-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <!-- each file should be at most 10MB, keep 60 days worth of history, but at most 10GB -->
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <logger name="com" level="info">
        <appender-ref ref="FILE-ROLLING" />
    </logger>

    <!--========================-->
    <appender name="INTEGRATION-TRANSACTION-ERROR-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:\logs\integration-transaction-error.log</file>
        <encoder>
            <pattern>%date %level [%thread] [%file:%line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>C:\logs\integration-archive\integration-transaction-error-log-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <!-- each file should be at most 10MB, keep 60 days worth of history, but at most 10GB -->
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <logger name="integration-transaction-err" level="DEBUG" additivity="false">
        <appender-ref ref="INTEGRATION-TRANSACTION-ERROR-FILE"/>
    </logger>
    <!--========================-->

</configuration>